body{
    margin: auto;
    background-image: url("login_image.jpg");
    background-repeat: no-repeat;
    background-size: 100% 720px;
    overflow-x: hidden;
    overflow-y: hidden;
}
.container{
    width: 500px;
    height: 369px;
    text-align: center;
    background-color:rgba(52, 73, 94,0.3);
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 150px;
    animation-name: example;
    animation-duration:3s;
}
@keyframes example {
    0% {margin-top: 340px;
        background-color:rgba(52, 73, 94,0.0);
        transform: scaleX(0.5);
         }
    90% {margin-top: 150px;
        background-color:rgba(52, 73, 94,0.2);
         transform: scaleX(0.9);
       }
    97% {margin-top: 155px;
        background-color:rgba(52, 73, 94,0.3);
         transform: scale(1.0);
       }
    100% {margin-top: 150px;
        background-color:rgba(52, 73, 94,0.3);
       }
}
.container img{
    width: 120px;
    height: 120px;
    margin-top: -60px;
    margin-bottom: 20px; 
}
.container h2{
    margin:0px;
    padding: 0px;
    padding-bottom: 20px;
    font-family: bradley hand itc;
    font-size: 45;
    font-weight:bolder;
    color: white;
      animation-name: login_ann;
    animation-duration:5s;
}
@keyframes login_ann{
    from{
        color: aqua;
        opacity: 0.1;
    }
    to{
        color: white;
        opacity: 1;
    }
}
.container .form-input{
    position: relative;
    
}
.container .form-input input{
    width: 85%;
    padding: 10px 0;
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
     color: black;
    font-family: century gothic;
    border-bottom: 1px solid;
    outline: none;
    background: transparent;
    transition: 0.5s;
    text-align: center;
}
.container .form-input input:focus{
    border-bottom: 1px solid aqua;
}
.container .form-input input:hover{
      border-bottom: 1px solid aqua;
}
.container .form-input label{
    position:absolute;
    top: 4px;
    left: 40px;
    letter-spacing: 1px;
    padding: 10px 0;
     color: black;
    font-family: comic sans ms;
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
}
.container .form-input input:focus ~ label,.container .form-input input:valid ~ label{
    top: -18px;
    left: 40px;
    color: #03a9f4;
    color: aqua;
    font-size: 12px;
}
.container .form-input input:hover ~ label{
    top: -18px;
    left: 40px;
    color: #03a9f4;
    color: aqua;
    font-size: 12px;
}
.login{
    padding: 15px 30px;
    color: white;
    border: none;
    background-color:transparent;
    border-bottom: 2px solid #922B21;
    cursor: pointer;
    margin: 05px;
    position: relative;
    left: -45px;
    transition: 0.5s;
    font-family: century gothic;
}
.login:hover{
    transform: scale(1.1,1.1);
     background-color:rgba(231, 76, 60,1);
                border: none;
    border-bottom: 4px solid #922B21;
}
.reset{
                font-weight:100;
                color:white;
                background-color: transparent;
                border-width: 0px;
                border-bottom: 2px solid #922B21;
                text-decoration: none;
                padding: 15px 30px;
                text-align: center;
                cursor: pointer;
                position: relative;
                margin: 05px;
                right: -45px;
                transition: 0.5s;
                font-family: century gothic;
            }
            .reset:hover{
             transform: scale(1.1,1.1);
                 background-color:rgba(231, 76, 60,1);
                border: none;
    border-bottom: 4px solid #922B21;
                
            }
ul{
            margin:0px;
            padding: 0px;
            list-style: none;
          }
        ul li{float: left;
            top: 0px;
            margin-top: 0px;
            margin-left:10px;
            width: 200px;
            height: 40px;
            background-color: #6C3483;
            color: white;
            opacity: 0.8;
            line-height: 40px;
            text-align: center;
            font-size: 20px;
            font-family: century gothic;
            animation-name: ul_an;
            animation-delay: 0s;
            animation-duration: 3s; 
            animation-fill-mode: forwards;
            box-shadow: 0px 7px 30px -1px black;
            position: relative;
        }
        @keyframes ul_an{
            0%{margin-top:500px;
                opacity:0;
                transform: scale(0.5);
            }
            90%{margin-top: 0px;
                opacity: 0.7;
                 transform: scale(0.9);
            }
            97%{margin-top: 5px;
                opacity: 0.8;
                 transform: scale(1.0);
            }
            100%{margin-top: 0px;
                opacity: 0.8;
            }
        }
        ul li a{
            text-decoration: none;
            color: white;
            display:block;
        }
        ul li a:hover{
            background-color:#A93226;
            cursor: default;
        }